{% extends 'base.html' %}

{% block head %}
    <script defer src="{{ static('js/alpine.min.js') }}"></script>
{% endblock %}

{% block content %}

<div class="bg-white px-6 py-32 lg:px-8">
{% if main_interactions is defined %}
        <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl pt-28 pb-10">What is HINT</h1>
            <div class="mt-10 max-w-2xl">
                <p>Network results</p>
            </div>
        </div>
{% else %}
    <h2>No results were found.</h2>
{% endif %}
</div>
{% endblock %}

